body {
    background-color: greenyellow;
}
img{
    width:700px;     
    height: auto;
}

#title{
    font-size: 30px;
}

#message{
    float:left;
    font-size: 30px;
    border: 1px solid black;
    width: 600px;
    height: 400px;
    padding-left: 20px;
    
}
#image{
    position: relative;
    float: left;
    left: 30px;
    padding-left: 20px;
    font-size: 30px;
    height: 400px;
    width: auto;
    border: 1px solid black;
    
}